/* Banner Styles */
.banner {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  .banner .content{
    width: 100%;
    color: white;
    display: flex;
  }
  .text-togo, .text-rev{
    font-size: 42px;
    font-weight: 400;
    letter-spacing: 5px;
  }
  .text-content{
    width: 50%;
    margin-top: 6rem;
    padding-left: 7rem;
  }
  .v-img {
    display: inline-block;
    width: 35px !important;
    animation: rotate 2s linear forwards;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(180deg);
    }
  }
  
  .explore-button {
    padding: 12px 30px;
    border: none;
    background: #69C3A4;
    color: #ffffff;
    cursor: pointer;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 400;
    margin-top: 2rem;
}

/* Slide-in Animations */
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Apply Animations */
.slide-in-left {
  animation: slideInLeft 1.5s ease-out forwards;
}

.slide-in-right {
  animation: slideInRight 1.5s ease-out forwards;
}

.content-img {
  max-width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items:flex-end;
}

.content-imgg {
  width: 90%;
}