.contact-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background: #3a3838;
    opacity: 100%;
    background-image: url('../images/Syntax\ 3d\ logo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #c0c0c0;
    width: 100%;
    height: 70vh; 

  }
  
  .contact-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .contact-subheading {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .contact-form {
    width: 100%;
  }
  
  .contact-row {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
  }
  
  .contact-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #4a4a4a;
    border-radius: 4px;
    background-color: #2c2c2c;
    color: #c0c0c0;
    font-size: 16px;
  }
  
  .contact-input::placeholder,
  .contact-textarea::placeholder {
    color: #888;
  }
  
  .contact-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #4a4a4a;
    border-radius: 4px;
    background-color: #2c2c2c;
    color: #c0c0c0;
    font-size: 16px;
  }
  
  .contact-explore-button {
    padding: 12px 30px;
    border: none;
    background: #69C3A4;
    color: #ffffff;
    cursor: pointer;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 400;
    position: absolute;
    bottom: 2rem;
    right: 7%;
}